@import "tailwindcss";

:root {
  font-family: var(--font-poppins), sans-serif;
   background-color: #FAFAFA;

}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}
