@import "tailwindcss";

:root {
  font-family: var(--font-poppins), sans-serif;
   background-color: #FAFAFA;

}



/* globals.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* globals.css */

