@import "tailwindcss";

:root {
  font-family: var(--font-poppins), sans-serif;
   background-color: #FAFAFA;

}



/* globals.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.overflow-y-auto::-webkit-scrollbar {
  width: 6px;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 3px;
}

.overflow-y-auto::-webkit-scrollbar-track {
  background: transparent;
}